#new_collection {
    margin-top: 10%;
    .text-center {
        h5 {
            font-size: 38px;
            font-weight: 700;
            &:before {
                content: 'Collection';
                position: absolute;
                transform: translate(-30%, -50%);
                font-size: 170px;
                z-index: -1;
                color: rgb(247, 247, 247);
            }
        }
    }
    .container {
        margin-top: 5%;
        .col-lg-3 {
            .list-group {
                .list-group-item {
                    border: 1px solid transparent !important;
                    a {
                        font-size: 22px;
                        color: black;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .col-lg-9 {
            .row {
                .col-lg-4 {
                    .card {
                        margin-bottom: 10px;
                        box-shadow: 0px -2px 19px rgba(0, 0, 0, 0.144);
                        border: none !important;
                        border-radius: 10px;
                        .card-body {
                            .card-title {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}
